<div class="d-flex  justify-content-center">
        <div class="btn border border-primary" id="firstpage" > << </div>
        <div class="btn border border-primary" id="previouspage" > < </div>
        <div class="btn border border-primary" id="pagenumber" > </div>
        <div class="btn border border-primary" id="nextpage" > > </div>
        <div class="btn border border-primary" id="lastpage"  > >> </div>
</div>
