<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .ct {
            max-width: 1140px;
            margin: 0 auto;
        }
    </style>
</head>

<body class="ct">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>No</td>
                    <td>Task</td>
                    <td>Link</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Dynamic Table</td>
                    <td><a href="/dynamictable">Dynamic Table</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Events Table</td>
                    <td><a href="/eventstable">Events Table</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Kuku Cube</td>
                    <td><a href="/kukucube">Kuku Cube</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Tic Tac Toe</td>
                    <td><a href="/tictactoe">Tic Tac Toe</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Webpage 1</td>
                    <td><a href="/webpage1">WebPage 1</a></td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Webpage 2</td>
                    <td><a href="/webpage2">WebPage 2</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Webpage 3</td>
                    <td><a href="/webpage3">WebPage 3</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Sorting Searching Filter Pagination StudentList</td>
                    <td><a href="/studentlist">Sorting Searching Filter Pagination</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Attendance List</td>
                    <td><a href="/attendance">Attendance List</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Result List & Report</td>
                    <td><a href="/result">Result List</a></td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Dlimiter Search</td>
                    <td><a href="/dlimitersearch">Dlimitersearch</a></td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Job Application Crud Without AJAX</td>
                    <td><a href="/employees">Job Application</a></td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Fetch Api From Json Placeholder</td>
                    <td><a href="/post">Json Placeholder</a></td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Job Application Crud With AJAX</td>
                    <td><a href="/employees">Job Application</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>