<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            margin: auto;
            /* border: 1px solid black; */
            border-radius: 15px;
            background-color: white;
        }
        td {
            border: 1px solid white;
            border-radius: 15px;
        }

        body {
            background-color: rosybrown;
        }
    </style>
</head>

<body>
    <div style="text-align: center;">
        <h3>Kishan Topiwala</h3>
        <div style="text-align: center;">
            <span >Score</h3>
            <span  id="score"></h3>
        </div>
        <label id="timer">CountDown</label>
    </div>
    <div style="display: flex; justify-content: center; align-items: center;">
        <table id="table" style="width: 500px; height: 500px;" 
            <tr name="row" class="row">
                <td class="col" name="col"></td>
                <td class="col" name="col"></td>
            </tr>
            <tr name="row" class="row">
                <td class="col" name="col"></td>
                <td class="col" name="col"></td>
            </tr>
        </table>
    </div>
    <script src="../../public/js/kukucube.js"></script>
</body>

</html>