<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/webpage1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="header">
            <div class="icon">
                <a href="#"> <img src="../../public/images/webpage1images/Logo.svg" alt="logo"></a>
            </div>
            <div class="left">
                <nav>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">Landing<i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">Pages<i class="fa-solid fa-angle-down"></i></a></li>
                        <li><a href="">Docs</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </nav>
                <button class="get_now">Get Now</button>
            </div>
        </div>
    </header>
    <section>
        <div class="section1">
            <div class="hero">
                <img src="../../public/images/webpage1images/Hero.png" alt="">
            </div>
            <div class="sec1textgroup">
                <h1>Make Your New Life Happier.</h1>
                <p>We work with several leading insurance companies to secure insurance coverages tailored to meet
                    your needs.</p>
                <button class="get_consultation"> Get a Consultation</button>
            </div>
        </div>
    </section>
    <section style="background-color: #F3F7FD;">
        <div class="section2">
            <div class="section2text">
                <p class="ourservices">OUR SERVICES</p>
                <h2>Insurance made simple for you</h2>
                <p class="text">We work with several leading insurance companies to secure insurance coverages
                    tailored to meet your needs.</p>
            </div>
            <div class="list">
                <div><img class="icon6" src="../../public/images/webpage1images/Icon 6.svg" alt="">Flexible products to
                    make your life easier</div>
                <div><img class="icon6" src="../../public/images/webpage1images/Icon 6.svg" alt="">Highest standards of
                    service</div>
                <div><img class="icon6" src="../../public/images/webpage1images/Icon 6.svg" alt="">Fast and reliable
                    service</div>
            </div>
            <div class="servicescardrow">
                <div class="servicecardcol">
                    <div class="servicecard">
                        <img class="cardicon" src="../../public/images/webpage1images/Icon_Home.svg" alt="Home Icon">
                        <div class="description">
                            <h3>Home insurance</h3>
                            <p>Home insurance is a type of insurance policy that provides cover for your home.
                            </p>
                            <h4>Learn More &#10140</h4>
                        </div>
                    </div>
                </div>
                <div class="servicecardcol">
                    <div class="servicecard">
                        <img class="cardicon" src="../../public/images/webpage1images/Icon_Blood_Donation.svg"
                            alt="Home Icon">
                        <div class="description">
                            <h3>Health insurance</h3>
                            <p>Home insurance is a type of insurance policy that provides cover for your home.
                            </p>
                            <h4>Learn More &#10140</h4>
                        </div>
                    </div>
                </div>
                <div class="servicecardcol">
                    <div class="servicecard">
                        <img class="cardicon" src="../../public/images/webpage1images/Icon_Car.svg" alt="Home Icon">
                        <div class="description">
                            <h3>Car insurance</h3>
                            <p>Home insurance is a type of insurance policy that provides cover for your home.
                            </p>
                            <h4>Learn More &#10140</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section3">
            <div class="section2text">
                <p class="ourservices">OUR TIPS FOR YOU</p>
                <h2>Reinventing your protection</h2>
                <p class="text">We share common trends, strategies ideas, opinions, short & long stories from the
                    team behind company.</p>
            </div>
            <div class="blogrow">
                <div class="blog"
                    style="background-image: linear-gradient(to bottom,rgba(24, 59, 86, 0.0001), rgba(22, 49, 70, 0.453847),rgba(21, 37, 50, 1)),url(../../public/images/webpage1images/Image.png);">
                    <p>How to prevent and protect your family from Carbon monoxide</p>
                </div>
                <div class="blog"
                    style="background-image: linear-gradient(to bottom,rgba(24, 59, 86, 0.0001), rgba(22, 49, 70, 0.453847),rgba(21, 37, 50, 1)),url(../../public/images/webpage1images/Image2.png);">
                    <p>Motherhood is the hardest and the best job ever</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section4">
            <div class="benifitsrow">
                <div class="benifitscol">
                    <div class="benifitscard">
                        <p class="ourservices">YOUR BENEFITS</p>
                        <h2>We’re your right insurance advocate</h2>
                    </div>
                </div>
                <div class="benifitscol">
                    <div class="benifitscard">
                        <img class="benifitscardicon" src="../../public/images/webpage1images/Donation.svg"
                            alt="Home Icon">
                        <div class="benifitsdescription">
                            <h3>We have the best prices</h3>
                            <p>Our insurance plans offers are priced the same everywhere else. We just make them easier
                                for you to find.</p>
                        </div>
                    </div>
                </div>
                <div class="benifitscol">
                    <div class="benifitscard">
                        <img class="benifitscardicon" src="../../public/images/webpage1images/Icon_Protection.svg"
                            alt="Home Icon">
                        <div class="benifitsdescription">
                            <h3>We’re your insurance advocate</h3>
                            <p>We will deal with the insurance companies for you, even after you’ve bought your plan.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="benifitscol">
                    <div class="benifitscard">
                        <img class="benifitscardicon" src="../../public/images/webpage1images/Icon_Neutron.svg"
                            alt="Home Icon">
                        <div class="benifitsdescription">
                            <h3>We’re unbiased</h3>
                            <p>Our online tools help you decide what product is best for you. We’re here to insurance
                                plan you choose.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="benifitscol">
                    <div class="benifitscard">
                        <img class="benifitscardicon" src="../../public/images/webpage1images/Icon_CS.svg"
                            alt="Home Icon">
                        <div class="benifitsdescription">
                            <h3>We’re available 24/7</h3>
                            <p>We have your back 24/7 between our online chat function, email and telephone support.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="benifitscol">
                    <div class="benifitscard">
                        <img class="benifitscardicon" src="../../public/images/webpage1images/Icon_Like.svg"
                            alt="Home Icon">
                        <div class="benifitsdescription">
                            <h3>We make insurance simple</h3>
                            <p>Home insurance is a type of insurance policy that provides cover for your home.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="section5">
            <div class="reviewrow">
                <div class="reviewcol">
                    <div class="reviewimage">
                        <img src="../../public/images/webpage1images/Avatar.png" alt="">
                        <img src="../../public/images/webpage1images/Avatar-1.png" alt="">
                        <img src="../../public/images/webpage1images/Avatar-2.png" alt="">
                    </div>
                    <div class="reviewtext">
                        <p><b>Friendly</b> customer support team</p>
                    </div>
                </div>
                <div class="reviewcol">
                    <div class="review">
                        <img src="../../public/images/webpage1images/Path.svg" alt="star" height="25px" width="25px">
                        <p><b>TrustPilot</b></p>
                    </div>
                    <div class="rating">
                        <img src="../../public/images/webpage1images/s.svg" class="reviewstar" alt="">
                        <img src="../../public/images/webpage1images/s.svg" class="reviewstar" alt="">
                        <img src="../../public/images/webpage1images/s.svg" class="reviewstar" alt="">
                        <img src="../../public/images/webpage1images/s.svg" class="reviewstar" alt="">
                        <img src="../../public/images/webpage1images/s.svg" class="reviewstar" alt="">
                    </div>
                    <div class="rating">
                        <p><b>4.6 out of 5 stars </b>from 8.6k reviews</p>
                    </div>
                </div>
                <div class="reviewcol">
                    <div class="reviewins">
                        <img src="../../public/images/webpage1images/Icon_Like.svg" alt="likeicon">
                        <p>We’re making <b> insurance as simple as </b> can be</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footerinfo">
                <div class="footerinfoitem1">
                    <img src="../../public/images/webpage1images/Logo_white.svg" alt="logo">
                    <p>Build a modern and creative website with crealand</p>
                    <div>
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <div class="footerinfoitem2">
                    <div class="footerinfoitem2text">
                        <p> Ready to get insured? Sumbit your request and hear back as soon as tomorrow</p>
                    </div>
                    <div class="footerinfoitem2inputbutton">
                        <input type="text" placeholder="Your Email">
                        <button type="button">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2019. Crafted with love.</p>
            </div>
        </div>
    </footer>
</body>

</script>

</html>