<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pratical 3</title>
    <link rel="stylesheet" href="../../public/css/webpage3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ribeye&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            
            <div>
                <img src="../../public/images/webpages3images/HireX_black.png" alt="">
            </div>
            <div class="nav">
                <div class="navlink"><a href="">Works</a></div>
                <div class="navlink"><a href="">About Us</a></div>
                <div class="navlink"><a href="">Blogs</a></div>
                <div class="navlink"><a href="">FAQs</a></div>
                <div class="navlink"><a href="">Contact us</a></div>
                <div><button class="navbutton" type="button">We're Hiring <img src="../../public/images/webpages3images/arrow-right.png"
                            alt=""></button></div>
            </div>
        </div>
    </header>
    <section class="section1">
        <div class="container">
            <div class="herotext">
                <h3>WELCOME TO HIREX. <img src="../../public/images/webpages3images/Star 1.png" alt=""></h3>
                <h1 class="h1">
                    Award Winning Digital Agency.
                </h1>
                <p>
                    Digital Agency offering unique solutions to create digital presence and increase your sales.
                </p>
                <form>
                    <input type="text" name="" id="" title="Open Account and get 5 boxes"
                        placeholder="your email address">
                    <input type="submit" value="Request access">
                </form>
                <div class="openaccount">
                    Open account and get 5 boxes
                </div>
            </div>
            <div class="herodesign">

                <div class="webdesign">
                    <div>
                        <img src="../../public/images/webpages3images/image 2 (Traced).png" alt="">
                        <h3>Web Design</h3>
                    </div>
                </div>
                <div class="socialmedia">
                    <div>
                        <img src="../../public/images/webpages3images/image 6 (Traced).png" alt="">
                        <h3>Social Midia</h3>
                    </div>
                </div>
                <div class="uxdesign">
                    <div>
                        <h3>UIX Design</h3>
                        <img src="../../public/images/webpages3images/image 1 (Traced).png" alt="">
                    </div>
                </div>
                <img class="new" src="../../public/images/webpages3images/Group 6.png" alt="">
            </div>
        </div>
        <div class="marquee" style="position: relative; width: 100%; background-color: var(--black);">
            <!-- <div id="mq" style="position: absolute; width: 100%;  height: 100px;"> -->
            <div class="marq">
                <div>
                    <h3>GET ACCESS NOW!</h3>
                    <img class="man" src="../../public/images/webpages3images/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img class="line4" src="../../public/images/webpages3images/Line 4.png" alt="" srcset="">
                </div>
                <div>
                    <h3>GET ACCESS NOW!</h3>
                    <img class="man" src="../../public/images/webpages3images/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img class="line4" src="../../public/images/webpages3images/Line 4.png" alt="" srcset="">
                </div>
                <div>
                    <h3>GET ACCESS NOW!</h3>
                    <img class="man" src="../../public/images/webpages3images/image-fBLQvAFN1-transformed 1.png" alt="">
                    <img class="line4" src="../../public/images/webpages3images/Line 4.png" alt="" srcset="">
                </div>
                <!-- </div> -->
            </div>
        </div>
    </section>
    <section class="section2">
        <div class="container">
            <div class="service">
                <button type="button">Services</button>
                <h2>How Hirex. Work</h2>
                <p>The awesome people who make all this possible</p>
            </div>
            <div class="servicerow">
                <div class="servicecol">
                    <div class="card">
                        <p class="servicep">START HERE</p>
                        <h3 class="serviceh3">Who we are & what we do</h3>
                        <img src="../../public/images/webpages3images/Designer _Flatline 1.png" alt="">
                        <button class="button" type="button"
                            style="background-color: var(--green); color: var(--white);">START HERE <img
                                src="../../public/images/webpages3images/arrow-right.png" alt=""></button>
                    </div>
                </div>
                <div class="servicecol">
                    <div class="card">
                        <p class="servicep">CUSTOM DESIGN</p>
                        <h3 class="serviceh3">We'll design your projects</h3>
                        <img src="../../public/images/webpages3images/Notifications_Flatline 1.png" alt="">
                        <button class="button" type="button"
                            style="background-color: var(--yellow); color: var(--black);">START HERE <img
                                src="../../public/images/webpages3images/arrow-right.png" alt=""></button>
                    </div>
                </div>
                <div class="servicecol">
                    <div class="card">
                        <p class="servicep">CONTACT US</p>
                        <h3 class="serviceh3">Drop us your message!</h3>
                        <img src="../../public/images/webpages3images/Fortnite_Two Color 1.png" alt="">
                        <button class="button" type="button"
                            style="background-color: var(--orange); color: var(--black);">START HERE <img
                                src="../../public/images/webpages3images/arrow-right.png" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <div class="container">
            <div class="service">
                <button type="button" style="background-color: var(--blue); border-color: var(--blue);">Works</button>
                <h2>Find our latetest works</h2>
                <p>The awesome people who makes all this possible</p>
            </div>
            <div class="workrow">
                <div class="workcol">
                    <img src="../../public/images/webpages3images/Rectangle 13.png" alt="">
                    <div class="workdes">
                        <div class="depart">
                            Web design
                        </div>
                        <h5>Website Design For Digital Agency</h5>
                        <p>Build a unique Website with HireX Template</p>
                        <div class="readmore">
                            <a href="">Read more</a>
                            <img src="../../public/images/webpages3images/arrow-right-black.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="workcol">
                    <img src="../../public/images/webpages3images/Rectangle 13-1.png" alt="">
                    <div class="workdes">
                        <div class="depart">
                            3D Design
                        </div>
                        <h5>Realistic 3d Model of Living Room</h5>
                        <p>Build a unique Website with HireX Template</p>
                        <div class="readmore">
                            <a href="">Read more</a>
                            <img src="../../public/images/webpages3images/arrow-right-black.png" alt="">
                        </div>
                    </div>
                </div>
                <button class="button">
                    View All
                    <img src="../../public/images/webpages3images/arrow-right-black.svg" alt="">
                </button>
            </div>
        </div>
    </section>
    <section class="section4">
        <div class="container">
            <div class="service">
                <h2>Plans & Pricing</h2>
                <p>The awesome people who makes all this possible</p>
            </div>
            <div class="servicerow">
                <div class="servicecol">
                    <div class="card pricecard">
                        <h4 class="servicep">Free</h4>
                        <h3 class="serviceh3">$0 / month</h3>
                        <p class="servicep">Start free while you learn more about our services</p>
                        <hr>
                        <div class="featureslist">
                            <div class="features"><i class="fa-solid fa-check"></i>Free forever get the basic essentials
                            </div>
                            <div class="features"><i class="fa-solid fa-check"></i>Advanced security and performance
                            </div>
                            <div class="features"><i class="fa-solid fa-check"></i>Unlimited unhosted sites</div>
                            <div class="features"><i class="fa-solid fa-check"></i>Live support</div>
                        </div>
                        <button class="button" type="button"
                            style="background-color: var(--yellow); color: var(--black);">GET STARTED</button>
                    </div>
                </div>
                <div class="servicecol">
                    <div class="card pricecard">

                        <h4 class="servicep">Basic</h4>
                        <h3 class="serviceh3">$19 / month</h3>
                        <p class="servicep">Get powerful tools to make your business grow</p>
                        <hr>
                        <div class="featureslist">
                            <div class="features"><i class="fa-solid fa-check"></i>Free forever get the basic essentials
                            </div>
                            <div class="features"><i class="fa-solid fa-check"></i>Advanced security and performance
                            </div>
                            <div class="features"><i class="fa-solid fa-check"></i>Unlimited unhosted sites</div>
                            <div class="features"><i class="fa-solid fa-check"></i>Live support</div>
                        </div>

                        <button class="button" type="button"
                            style="background-color: var(--orange); color: var(--black);">GET STARTED</button>
                    </div>
                </div>
                <div class="servicecol">
                    <div class="card pricecard">
                        <h4 class="servicep">Pro</h4>
                        <h3 class="serviceh3">$99 / month</h3>
                        <p class="servicep">Take your business to the next level with our tools</p>
                        <hr>
                        <div class="featureslist">
                            <div class="features"><i class="fa-solid fa-check"></i>Free forever get the basic essentials
                            </div>
                            <div class="features"><i class="fa-solid fa-check"></i>Advanced security and performance
                            </div>
                            <div class="features"><i class="fa-solid fa-check"></i>Unlimited unhosted sites</div>
                            <div class="features"><i class="fa-solid fa-check"></i>Live support</div>
                        </div>

                        <button class="button" type="button"
                            style="background-color: var(--green); color: var(--white);">GET STARTED</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container">
            <div>
                <img onclick="changeleft()" src="../../public/images/webpages3images/arrow-left-2.png" alt="">
            </div>
            <div class="contents">
                <div class="content" id="content1">
                    <div>
                        <img class="userimage" src="../../public/images/webpages3images/testimonials-img.png" alt="">
                    </div>
                    <div class="userlink">
                        <p>@mase.place</p>
                        <div class="arrowtop">
                            <img src="../../public/images/webpages3images/arrow_top-right.png" alt="">
                        </div>
                    </div>
                    <div class="usertext">
                        <p class="text1">
                            "We select to practice in Minerva since it is both useful, and our clients basically adore
                            it!
                            It
                        </p>
                        <p class="text2">
                            Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of
                            more
                        </p>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img class="userimage" src="../../public/images/webpages3images/testimonials-img.png" alt="">
                    </div>
                    <div class="userlink">
                        <p>@mase.place</p>
                        <div class="arrowtop">
                            <img src="../../public/images/webpages3images/arrow_top-right.png" alt="">
                        </div>
                    </div>
                    <div class="usertext">
                        <p class="text1">
                            "We select to practice in Minerva since it is both useful, and our clients basically adore
                            it!
                            It
                            has stood the test of time and proceeds"
                        </p>
                        <p class="text2">
                            Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of
                            more
                            than 3.2 million followers on the platform.
                        </p>
                    </div>
                </div>
            </div>
            <div class="nextbutton">
                <img onclick="changeright()" src="../../public/images/webpages3images/arrow-right-2.png" alt="">
            </div>
        </div>
    </section>
    <section class="section6 section3">
        <div class="container">
            <div class="service">
                <button type="button"
                    style="background-color: var(--tomato); border-color: var(--tomato);">Works</button>
                <h2>Find our latetest works</h2>
            </div>
            <div class="workrow">
                <div class="workcol">
                    <img src="../../public/images/webpages3images/Rectangle 19.png" alt="">
                    <div class="workdes">
                        <div class="depart">
                            Web design
                        </div>
                        <h5>Website Design For Digital Agency</h5>
                        <p>Build a unique Website with HireX Template</p>
                        <div class="readmore">
                            <a href="">Read more</a>
                            <img src="../../public/images/webpages3images/arrow-right-black.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="workcol">
                    <img src="../../public/images/webpages3images/Rectangle 20.png" alt="">
                    <div class="workdes">
                        <div class="depart">
                            3D Design
                        </div>
                        <h5>Realistic 3d Model of Living Room</h5>
                        <p>Build a unique Website with HireX Template</p>
                        <div class="readmore">
                            <a href="">Read more</a>
                            <img src="../../public/images/webpages3images/arrow-right-black.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section7" style="background-color: var(--yellow2);">
        <div class="container">
            <div class="suscribform">
                <h2>Get our latest news and updates</h2>
                <form action="">
                    <input class="sforminput" type="text" placeholder="NAME" name="" id="">
                    <input class="sforminput" type="text" placeholder="EMAIL" id="">
                    <div class="subutton">
                        <input class="sforminput" type="button" style="text-align: left;" value="Suscribe">
                        <img src="../../public/images/webpages3images/arrow-right-black.svg" alt="">
                    </div>
                </form>
            </div>
            <div class="suscribtext">
                <p>We select to practice in Minerva since it is both useful and commonsense, and our clients basically
                    adore it</p>
                <button class="bookcall" type="button">
                    Book a Call
                </button>
            </div>
        </div>
        <div class="marquee" style="position: relative; width: 100%; background-color: var(--black);">
            <div class="marq marq2">
                <div>
                    <h3>Thank YOU FOR YOUR VISIT</h3>
                    <img src="../../public/images/webpages3images/Line 4.png" alt="" srcset="">
                    <h3>Thank YOU FOR YOUR VISIT</h3>
                    <img class="" src="../../public/images/webpages3images/Group 59.png" alt="" srcset="">
                    <h3>Thank YOU FOR YOUR VISIT</h3>
                </div>
            </div>
        </div>
    </section>
    <footer style="background-color: var(--cardbg);">
        <div class="container">
            <div class="logo">
                <img src="../../public/images/webpages3images/HireX_black.png" alt="">
            </div>
            <div class="footerrow">
                <div class="footercol">
                    <p>Products</p>
                    <div class="productlist">
                        <p class="porduct">Platform</p>
                        <p class="porduct">Store Overview</p>
                        <p class="porduct">Email Report</p>
                        <p class="porduct">Portfolio</p>
                    </div>
                </div>
                <div class="footercol">
                    <p>Resources</p>
                    <div class="productlist">
                        <p class="porduct">Case Studies
                        </p>
                        <p class="porduct">Product Guides
                        </p>
                        <p class="porduct">Reports</p>
                        <p class="porduct">Blog</p>
                        <p class="porduct">FAQ</p>
                    </div>
                </div>
                <div class="footercol">
                    <p>Company</p>
                    <div class="productlist">
                        <p class="porduct">Careers</p>
                        <p class="porduct">Contact Sales</p>
                        <p class="porduct">Contact Support</p>
                    </div>
                </div>
                <div class="footercol">
                    <p>Partners</p>
                    <div class="productlist">
                        <p class="porduct">Partner With Us</p>
                    </div>
                </div>
            </div>
            <div class="terms">
                <p>Terms and Conditions
                    Privacy Policy</p>
                <p>&copy; HIREX, Inc. 2022</p>
            </div>
        </div>
    </footer>
</body>
<script>
    var value1 = 100;
    setInterval(function () {
        console.log(value1)
        document.getElementById('mq').setAttribute('style', 'right:' + value1 + 'px')
        value1 = + 50;
    }, 100);
</script>
<script src="../../public/js/webpage3.js"></script>

</html>